<%- include('../shared/partials/head', { pageTitle: 'E-Vote' }) %>
<link rel="stylesheet" href="/styles/candidates.css">
</head>
<body>
  <main>
    <h1>Voter Details</h1>
    <p>Name: <%= voter.firstName +" "+ voter.lastName %></p>
    <p>Verified: <%= voter.isVerified %></p>
    <h2>All Candidates</h2>
    <ul id="candidates-grid">
      <% for (const candidate of candidates) {%>
      <li>
        <%- include('../shared/partials/candidate-item', { candidate, voter }) %>
      </li>
    <% } %>
    </ul>
  </main>
<%- include('../shared/partials/footer') %>
