<article class="candidate-item">
  <img src="<%= candidate.imageUrl %>" alt="<%= candidate.fullName %>">
  <div class="candidate-item-content">
    <h2><%= candidate.fullName %></h2>
    <div class="candidate-item-actions">
        <h3><%= candidate.politicalParty %></h3>
        <p>National votes: <%= candidate.nationalVotes %></p>
        <p>Provincial votes: <%= candidate.provincialVotes %></p>
        <p>
          <%- include('progress-bar') %>
        </p>
    </div>
  </div>
</article>